# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
env/
venv/

# Ignore dataset files (if not needed in the repository)
*.csv
*.xlsx

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore any personal or temporary files
*.tmp
*.swp
*.bak
